USE [igroup102_test2]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFollowedUsersFinal]    Script Date: 02/08/2025 21:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<moty>
-- Create date: <24.07.25>
-- Description:	<Get all the followers>
-- =============================================
ALTER PROCEDURE [dbo].[sp_GetFollowedUsersFinal]
    @FollowerId INT
AS
BEGIN
    SELECT 
		U.Id,
        U.Name,
        U.Email,
		U.Active
		
    FROM 
        UserFollowTableFinal UF
    INNER JOIN 
        UsersTableFinal U ON UF.FollowedId = U.Id
    WHERE 
        UF.FollowerId = @FollowerId;
END