USE [igroup102_test2]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSharedArticlesForUser]    Script Date: 07/07/2025 13:39:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<moty>
-- Create date: <07.07.25>
-- Description:	<Get all Shared articles>
-- =============================================
ALTER PROCEDURE [dbo].[sp_GetSharedArticlesForUser]
    @UserId INT
AS
BEGIN
    SELECT 
        A.*, 
        S.Comment, 
        S.UserId AS SharedByUserId,
        U.Name AS SharedByName
    FROM SharedArticlesTable S
    JOIN ArticlesTableFinal A ON S.ArticleId = A.Id
    JOIN UsersTableFinal U ON S.UserId = U.Id 
    WHERE 
        S.UserId = @UserId
        OR S.UserId IN (
            SELECT FollowedId
            FROM UserFollowTableFinal
            WHERE FollowerId = @UserId
        )
    ORDER BY A.PublishedAt DESC
END