USE [igroup102_test2]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllReportsOnArticlesFinal]    Script Date: 28/07/2025 12:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<moty>
-- Create date: <1.07.25>
-- Description:	<Get all reports>
-- =============================================
ALTER PROCEDURE [dbo].[sp_GetAllReportsOnArticlesFinal]
AS
BEGIN
    SET NOCOUNT ON;

SELECT 
    r.Id,
    r.ReporterId,
    u.Name AS ReporterName,
    u.Email AS ReporterEmail,
    r.Comment,
    r.ReportedAt,
    
    r.ArticleId,
    a.Title AS ArticleTitle,
    a.Description AS ArticlePreview,

    r.SharerId,
    sa.Title AS SharedArticleTitle,
    su.Name AS SharedByName,

    (SELECT COUNT(*) 
     FROM ReportsTableFinal 
     WHERE ArticleId = r.ArticleId OR SharerId = r.SharerId
    ) AS TotalReportsOnThisItem

FROM ReportsTableFinal r
LEFT JOIN UsersTableFinal u ON r.ReporterId = u.Id
LEFT JOIN ArticlesTableFinal a ON r.ArticleId = a.Id
LEFT JOIN SharedArticlesTable s ON r.SharerId = s.Id
LEFT JOIN UsersTableFinal su ON s.UserId = su.Id
LEFT JOIN ArticlesTableFinal sa ON s.ArticleId = sa.Id
END
