USE [igroup102_test2]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveFCMTokenFinal]    Script Date: 06/08/2025 10:13:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<moty>
-- Create date: <06.08.25>
-- Description:	<sp_IsUserNotificationsEnabled>
-- =============================================

-- שמירת FCM Token
CREATE PROCEDURE sp_IsUserNotificationsEnabled
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) 
    FROM FCMTokensFinal 
    WHERE UserId = @UserId AND IsActive = 1 AND NotificationsEnabled = 1
END