ALTER PROCEDURE [dbo].[sp_InsertTagFinal]
    @Name NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if a tag with the same name (case-insensitive) already exists
    IF EXISTS (
        SELECT 1
        FROM TagsTableFinal
        WHERE LOWER([Name]) = LOWER(@Name)
    )
    BEGIN
        -- Raise a friendly error
        RAISERROR('A tag with the name "%s" already exists (case-insensitive match).', 16, 1, @Name);
        RETURN;
    END

    -- Insert the new tag
    INSERT INTO TagsTableFinal ([Name])
    VALUES (@Name);
END
