USE [igroup102_test2]
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUserFinal]    Script Date: 27/07/2025 17:38:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<moty>
-- Create date: <07.06.25>
-- Description:	<Login user>
-- =============================================
ALTER PROCEDURE [dbo].[sp_LoginUserFinal] 
	@Email NVARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
	   SELECT Id, [Name], Email,[Password],Active,BlockSharing 
		FROM UsersTableFinal
		WHERE [email] = @Email;
END
