USE [igroup102_test2]
GO
/****** Object:  StoredProcedure [dbo].[sp_ReportArticleFinal]    Script Date: 28/07/2025 16:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<moty>
-- Create date: <23.06.25>
-- Description:	<report shared articles articles>
-- =============================================
ALTER PROCEDURE [dbo].[sp_ReportArticleFinal]
    @ReporterId INT,
    @ArticleId INT,
    @SharerId INT = NULL,
    @Comment NVARCHAR(500)
AS
BEGIN
    -- רק אם לא קיים דיווח קודם על אותה כתבה/שיתוף מאותו משתמש
    IF NOT EXISTS (
        SELECT 1 
        FROM ReportsTableFinal
        WHERE (@SharerId IS NOT NULL AND SharerId = @SharerId AND ReporterId = @ReporterId AND ArticleId=@ArticleId) OR (ReporterId = @ReporterId AND ArticleId=@ArticleId AND @SharerId IS NULL) 

    )
    BEGIN
        INSERT INTO ReportsTableFinal (ReporterId, ArticleId, SharerId, Comment)
        VALUES (@ReporterId, @ArticleId, @SharerId, @Comment)
    END
END