USE [igroup102_test2]
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectUsersFinal]    Script Date: 07/08/2025 19:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<moty>
-- Create date: <07.06.25>
-- Description:	<To Select all Users from the UsersTableFinal>
-- =============================================
ALTER PROCEDURE [dbo].[sp_SelectUsersFinal] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM UsersTableFinal
	WHERE [Email] != 'admin'
END
