USE [igroup102_test2]
GO
/****** Object:  StoredProcedure [dbo].[sp_ToggleDeactivateUserFinal]    Script Date: 07/08/2025 19:03:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<moty>
-- Create date: <21.06.25>
-- Description:	<Activate or deactivate user>
-- =============================================
ALTER   PROCEDURE [dbo].[sp_ToggleDeactivateUserFinal]
    @UserId INT
AS
BEGIN
    UPDATE UsersTableFinal
    SET 
        Active = CASE 
                    WHEN Active = 1 THEN 0 
                    ELSE 1 
                END,
        DeletedAt = CASE 
                      WHEN Active = 1 THEN GETDATE() 
                      ELSE NULL 
                    END
    WHERE Id = @UserId AND [Email] != 'admin'
END