/* Custom styles for NewsSite */

.card.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075)!important;
}

.mt-auto {
  margin-top: auto !important;
}

body {
  background: #f4f6fa;
}
.card {
  border-radius: 1.25rem;
}
input.form-control {
  border-radius: 2rem;
}
.btn {
  border-radius: 2rem;
}
